@charset "utf-8";
/* CSS Document */

.dropdown-menu-tab { 
	width: 240px;
}
.dropdown-item-tab { 
	display: block; 
	padding: 12px;
}

.tabstylecontent { 
	background: #ffffff; 
	border: 1px solid #dddddd; 
	border-top: none;
}


.width100 { width:100%;}


/*CHRISTIAN*/


/*PALETA DE COLORES DE ACADEMIA*/


/*Financiamiento*/
.bg-manzana  {
	background-color: #C8D171 !important;
}
.text-manzana  {
	color: #C8D171 !important;
}

/*Comercio exterior*/
.bg-lila  {
	background-color: #A294B9 !important;
}
.text-lila  {
	color: #A294B9 !important;
}

/*Medio Ambiente - 
Usar bg-success*/


/*Calidad - 
Usar bg-info*/

/*Seguridad*/
.bg-verde  {
	background-color: #37895b !important;
}
.text-verde  {
	color: #37895b !important;
}

/*Comercializacion -
Usar bg-danger*/

/*Recursos Humanos - 
Usar bg-primary*/

/*Administracion*/
.bg-violeta-2 {
	background-color: #79528D !important;
}
.text-violeta-2 {
	color: #79528D !important;
}

/*Produccion*/
.bg-borgoña {
	background-color: #89325E !important;
}
.text-borgoña {
	color: #89325E !important;
}


/*Tecnologia*/
.bg-naranja {
	background-color: #f57539 !important;
}
.text-naranja {
	color: #f57539 !important;
}

/*Marco regulatorio*/
.bg-celeste {
	background-color: #79c7ec !important;
}
.text-celeste {
	color: #79c7ec !important;
}


/*Emprender - 
Usar bg-warning*/











.text-gris {
	color: #808080 !important;
}


.academia-filtros {
	font-size: 18px !important;
}

.academia-filtros span {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	font-weight:400;
}

.academia-filtros li {
	margin-top:0px !important;
}

.academia-filtros input {
	margin-right: 40px;
}

.academia-filtros h3 {
	color:#808080;
	font-weight: bold;
}

.academia-filtros .nav-pills>a>li, .academia-filtros .nav-pills>a>li>span {
	padding-top:3px;
	padding-bottom:3px;
	padding-left:0px;
	font-weight:400;
}

.academia-filtros .fa-circle {
	font-size: 12px;
	margin-bottom: 2px;
	margin-right:5px;
}

.nav>a>li:focus, .nav>a>li:hover {
    text-decoration: none;
    background-color: #eee;
}






.padding-10 {
	padding:10px !important;
}

.badge { 
	padding: 4px;
	font-size: 14px;
}

.badgePosition {     
	position: relative;
	top: -19px;
	left: -25px;
}

.width100 { width:100% !important;}

.btn-contorno {
    background-color: white;
    color: #0695D6;
    padding: 14px 25px;
    text-transform: capitalize;
    font-weight: bold;
    border: 2px solid #0695D6;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.panel-heading {
    min-height: auto !important;
}