@charset "utf-8";
/* CSS Document */

.dropdown-menu-tab { 
	width: 240px;
}
.dropdown-item-tab { 
	display: block; 
	padding: 12px;
}

.tabstylecontent { 
	background: #ffffff; 
	border: 1px solid #dddddd; 
	border-top: none;
}

.width100 { 
	width:100%;
}


/*PALETA DE COLORES DE ACADEMIA*/


/*Financiamiento*/
.bg-manzana  {
	background-color: #C8D171 !important;
}
.text-manzana  {
	color: #C8D171 !important;
}

a.p-finanzas:hover, a.p-finanzas:focus {
    background: #C8D171;
    color: #fff;
}

/*Comercio exterior*/
.bg-lila  {
	background-color: #A294B9 !important;
}
.text-lila  {
	color: #A294B9 !important;
}

a.p-comercio-exterior:hover, a.p-comercio-exterior:focus {
    background: #A294B9;
    color: #fff;
}

/*Medio Ambiente - 
Usar bg-success
*/
a.p-medio-ambiente:hover, a.p-medio-ambiente:focus {
    background: #3c763d;
    color: #fff;
}

/*Calidad - 
Usar bg-info*/
a.p-calidad:hover, a.p-calidad:focus {
    background: #d9edf7;
    color: #fff;
}


/*Seguridad*/
.bg-verde  {
	background-color: #37895b !important;
}
.text-verde  {
	color: #37895b !important;
}

a.p-seguridad:hover, a.p-seguridad:focus {
    background: #37895b;
    color: #fff;
}

/*Comercializacion*/
.bg-rojo {
background-color: #D14845;
}

.text-rojo {
	color: #D14845;
}

a.p-comercializacion:hover, a.p-comercializacion:focus {
    background: #D14845;
    color: #fff;
}

/*Recursos Humanos - 
Usar bg-primary*/


/*Administracion*/
.bg-violeta-2 {
	background-color: #79528D !important;
}
.text-violeta-2 {
	color: #79528D !important;
}

a.p-administracion:hover, a.p-administracion:focus {
    background: #79528D;
    color: #fff;
}

/*Produccion*/
.bg-borgoña {
	background-color: #89325E !important;
}
.text-borgoña {
	color: #89325E !important;
}

a.p-produccion:hover, a.p-produccion:focus {
    background: #89325E;
    color: #fff;
}

/*Tecnologia*/
.bg-naranja {
	background-color: #f57539 !important;
}
.text-naranja {
	color: #f57539 !important;
}

a.p-tecnologia:hover, a.p-tecnologia:focus {
    background: #f57539;
    color: #fff;
}

/*Marco regulatorio*/
.bg-celeste {
	background-color: #79c7ec !important;
}
.text-celeste {
	color: #79c7ec !important;
}

a.p-marco-regulatorio:hover, a.p-marco-regulatorio:focus {
    background: #79c7ec;
    color: #fff;
}

/*Emprender - 
Usar bg-warning*/
a.p-emprender:hover, a.p-emprender:focus {
    background: #8a6d3b;
    color: #fff;
}


.text-gris {
	color: #808080 !important;
}


.academia-filtros {
	font-size: 18px !important;
}

.academia-filtros span {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	font-weight:400;
}

.academia-filtros li {
	margin-top:0px !important;
}

.academia-filtros label {
	margin-right: 30px;
}

.academia-filtros h3 {
	color:#808080;
	font-weight: bold;
}

.academia-filtros .nav-pills>li>a {
	padding-left:10px;
	cursor:pointer; 
}

.academia-filtros .nav-pills>li>a, .academia-filtros .nav-pills>li>a>span {
	padding-top:3px;
	padding-bottom:3px;
	padding-left:0px;
	font-weight:400;
}

.academia-hr {
	margin-top:15px;
	margin-bottom:15px;
	/*margin-left: -15px;*/
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color:#0695d6;
    text-decoration: none;
    background-color: #eee;
}

.academia-relacionadas .fa-circle, .academia-filtros .fa-circle {
	font-size: 12px;
	margin-bottom: 2px;
	margin-right:5px;
	margin-left:10px;
}

.academia-comentario .fa-ellipsis-v {
	font-size: 25px;
	color:grey;
	margin-right:15px;
}

.academia-rrhh ol li{
	font-weight:500;
}

.academia-login .form-group {
	margin-bottom: 10px;
	padding-left: 5px !important; 
	padding-right: 5px !important;
}

.academia-login .btn-login {
	padding: 10px 55px;
	text-transform: none;
}

.btn-google {
	background-color: #CF493C;
}

.btn-facebook {
	background-color: #3D5B95;	
}

.academia-login input.form-control {
	height:42px !important;
}


.academia-login input[type=checkbox]
        {
        /* Double-sized Checkboxes */
            -ms-transform: scale(2); /* IE */
            -moz-transform: scale(2); /* FF */
            -webkit-transform: scale(2); /* Safari and Chrome */
            -o-transform: scale(2); /* Opera */
            padding: 10px;
            margin-right: 10px;
            position: static ;
    		margin-left: auto;
        }

.img-resultados {
	background-size: cover;
	background-repeat: no-repeat;
	min-height:200px;
	position: relative;
}

.etiqueta {
	background-color: #2C93C9;
	color:white;
	padding: 2px 5px;
}

.etiqueta-sobre {
	position: absolute;
	left:15px;
	top:15px;
}

/*media queries*/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

.academia-filtros {
	display:none;
}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

.academia-filtros {
	display:block !important;
}

}


/*TEST*/


.navbar-default .navbar-nav>li>a.nohover:hover, .navbar-default .navbar-nav>li>a.nohover:focus {
    background: #fff;
    color: #0695d6;
}

/*HEADER*/

/*header .navbar.navbar-top .input-group input {
    height: 43px;
}*/

#bs-example-navbar-collapse-1 form button.btn-primary {
	height:46px !important;
}


/*MARIAN*/

.padding-10 {
	padding:10px !important;
}

.badge { 
	padding: 4px;
	font-size: 14px;
}

.badgePosition {     
	position: relative;
	top: -19px;
	left: -25px;
}

.width100 { width:100% !important;}

/*.btn {
  border: none !important;
}*/

.panel-heading-title { min-height:54px !important;}

.btn-contorno {
    background-color: white;
    color: #0695D6;
    padding: 14px 25px;
    text-transform: capitalize;
    font-weight: bold;
    
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #0695D6;
}
.btn-contorno:hover {
    border: 2px solid #3c8dbc !important;
    color: #3c8dbc;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #f4f4f4;
    vertical-align: middle !important;
}

td .progress, td .btn {
    margin-bottom: 0px;
}

.logos-redes small {
	background-color: #E3E3E3;
	padding:5px 10px;
	color:black;
}

.tabla-eventos .fa {
	font-size: 24px;
}

/*HAMBURGUER EN MD*/

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;z
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    #bs-example-navbar-collapse-1 .btn-success {
		margin-left:0px !important;
	}
}

@media (max-width: 992px) and (min-width: 767px) {
	header form .search-input {
		margin-left:0px !important;
	}

}


